body{
  background:#4d505b;
}
.clearfix:after {
    display:block;
    clear:both;
}
 
/*----- Menu Outline -----*/
.menu-wrap {
 
   float:right;
    width:250px;
    height:60px;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#80628b;
  border-radius:10px;
}

#menu {
    
    width:400px;
    margin-left:50%;;
}
 
.menu li {
    margin-down:10px;
    list-style:none;
    
}
 
.menu a {
    transition:all linear 0.15s;
    color:white;
}
 
.menu li:hover > a, .menu .current-item > a {
   text-decoration:none;
 
}

.menu .arrow {
    font-size:11px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.menu > ul > li > a {
    padding:10px 20px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#f4ac42;
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#f4ac42;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#80628b;
}
#perfumer
{
  top:0%;
  margin-left:35%;
  width:350px;
  height:100px;
  
}
#tper{
  margin-left:30%;
  font-size:80px;
  font-family:Arial;
  color:#cf4858;
  
}
#banner{
  width:100%;
  height:200px;
  background:#16a79d;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  z-index:-1;
  box-shadow: 0 0 40px black;
  
}

 #menu1 {
    float: left;
    width: 100%;
    margin-up:5%;
    margin-left:1%;
    list-style-type: none;
}

.a1 {
  transition:all linear 0.15s;
    float: left;
    width: 6em;
    text-decoration: none;
    color: white;
    padding: 0.2em 0.6em;
    border-right: 1px solid white;
  background:#80628b;
}

a:hover {
    background-color: #f4ac42;
}

.li1 {
    display: inline;
}
#menu{
  margin-top:3%;
  margin-left:0%;
}
#dreapta{
  float:right;
  margin-top:20px;
  background-color:#80628b;
  width:43%;
  border-radius:10px; 
  z-index:-1;
  box-shadow: 0 0 40px black;
}
#img{
  margin-left:35%;
  font-size:20px;
  font-family:Arial;
  color:white;
}

.produseRecomandate{
  width:100%;
  width:120px;
  height:100px;
  height:120%s;
}
table.tabelImg{
    margin-top:50px;
    margin-left:auto; 
    margin-right:auto;
}
thead{
  margin-left:50%;
  font-family:Arial;
  color:white;
  font-size:20px;
}
#stanga{
  float:left;
  margin-top:20px;
  background-color:#80628b;
  width:55%;
  height:800px;
  border-radius:10px; 
  z-index:-1;
  box-shadow: 0 0 40px black;
}
#jos{
  float:bottom;
  background: #4d505b;
  margin-top:690px;
  width:100%;
  clear:both;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  box-shadow: 1px 10px 40px black;
}

#video{
  border-radius:10px;
  margin-top:20px;
  margin-left:0%;
  width="10"; 
  height="20";
}
#despre{
  margin-left:35%;
  font-size:20px;
  font-family:Arial;
  color:white;
}
.h1{
  font-family:Arial;
  color:white;
  font-size:18px;
  margin-left:10%;
}
.istorie{
  font-family:Arial;
  margin-left:10px;
  margin-right:10px;
}

